/*
	Landed by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	html, body {
		min-width: 320px;
	}

	body, input, select, textarea {
		font-size: 12pt;
	}

/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
			display: block;
			padding: 1em 0 0 0;
			text-align: center;
			width: 100%;
		}

			ul.actions li:first-child {
				padding-top: 0;
			}

			ul.actions li > * {
				margin: 0 !important;
				width: 100%;
			}

		ul.actions.small li {
			padding: 0.5em 0 0 0;
		}

			ul.actions.small li:first-child {
				padding-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}

/* Spotlight */

	.spotlight .image.main {
		max-height: 50vh;
	}

	.spotlight .content {
		padding: 3em 1.25em 1em 1.25em !important;
	}

/* Wrapper */

	.wrapper {
		padding: 3em 1.25em 1em 1.25em;
	}

/* Banner */

	#banner .content {
		padding: 3em 1.5625em 5.25em 1.5625em;
	}

/* Footer */

	#footer {
		padding: 3em 1.25em;
	}

		#footer .copyright {
			line-height: inherit;
		}

			#footer .copyright li {
				border-left: 0;
				display: block;
				margin: 0;
				padding: 0;
			}